.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    display: none;
}
.popup-container > .popup {
    background-color: white;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    width: 500px;
}

.cross{
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 20px;
    cursor: pointer;
}

.popup-container > .popup  .cross{
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 20px;
    cursor: pointer;
}


.popup-container > .popup form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-container > .popup form > div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.popup-container > .popup form > div input{
    width: 100%;
    padding:8px 10px;
    outline-style: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.popup-container > .popup form > div button{
   align-self: self-start;
   padding: 8px 20px;
   border: 1px solid lightgray;
   color: white;
   cursor: pointer;
   font-weight: 500;
   letter-spacing: 1px;
   background-color: #2196f3;
   border-radius: 5px;
}

.popup-container form .btns{
    display: flex;
    flex-direction: row!important;
    justify-content: space-between;
    align-items: center;
}

.popup-container form .btns .register-btn{
background-color: transparent;
border: none;
color: #2196f3;
}

/* Registration Form CSS  */
.popup-register-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    display: none;
}
.popup-register-container > .popup {
    background-color: white;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    width: 500px;
}


.popup-register-container > .popup  .cross{
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 20px;
    cursor: pointer;
}


.popup-register-container > .popup form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-register-container > .popup form > div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.popup-register-container > .popup form > div input{
    width: 100%;
    padding:8px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.popup-register-container > .popup form > div button{
   align-self: self-start;
   padding: 8px 20px;
   border: 1px solid lightgray;
   color: white;
   cursor: pointer;
   font-weight: 500;
   outline-style: none;
   letter-spacing: 1px;
   background-color: #2196f3;
   border-radius: 5px;
}

.loginlogout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}